.ipynb_checkpoints/
__pycache__/
*.swp
.env
.pylintrc
projects/project_2a_train_on_jsonl_files/out/project_2a_train_on_jsonl_files/checkpoint_0.pth
projects/project_2a_train_on_jsonl_files/out/project_2a_train_on_jsonl_files/config.json
