.ipynb_checkpoints/
__pycache__/
*.swp
.env
.pylintrc
*.pth
*.png
*.log
projects/project_2a_train_on_jsonl_files/out/project_2a_train_on_jsonl_files/config.json
projects/project_2a_train_on_jsonl_files/out/project_2a_train_on_jsonl_files/iteration_0/args.txt
